<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOETS</title>
    <link rel="stylesheet" href="toets.css">
    <script src="https://kit.fontawesome.com/399174739e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bgwhitecard">
        <div class="navbar">
            <div class="navbar-start">
                <div class="navicon"><i class="fa-solid fa-square-poll-horizontal"></i></div>
                <div class="navtext default">Algemene info</div>
            </div>
            <div class="navbar-end">
                <div class="navicon"><i class="fa-solid fa-flag-checkered"></i></div>
            </div>
        </div>
        <div class="sectioncard">
            <div class="section1">
                <div class="accessibility_widget">
                    <div class="zoomin"><i class="fa-solid fa-magnifying-glass-plus"></i></div>
                    <div class="zoomout"><i class="fa-solid fa-magnifying-glass-minus"></i></div>
                    <div class="readaloud"><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>
            <div class="section2"><h1>Deel 1: Theorie</h1></div>
            <div class="section3"><h4>deel punten</h4></div>
            <div class="section4"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie et leo id semper. Nulla augue sem, maximus fermentum lorem vel, convallis ultricies neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse et pretium elit. Duis elementum dui nec nibh porttitor faucibus. Integer in metus eget mauris viverra blandit vel vel erat. Donec eu est vel urna facilisis placerat. In facilisis, magna sed efficitur efficitur, nulla turpis placerat est, et molestie mi arcu id metus.</p></div>
            <div class="section5">
                <div class="points_widget">... / 20</div>
            </div>
            <div class="section6">
                <div>
                    <button class="button btn_previous">
                        <i class="btn_text fa-solid fa-arrow-left" style="color: gray"></i>
                        <div class="btn_text" style="color: gray;">&nbspVorig deel</div>
                    </button>
                </div>
                <div>
                    <button class="button btn_next">  
                        <div class="btn_text" style="color: rgb(9, 3, 17);">Volgend deel&nbsp</div>
                        <i class="btn_text fa-solid fa-arrow-right" style="color: rgb(9, 3, 17);"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="line">test</div>
        <div class="qcard">
            <div class="q1">
                <div class="accessibility_widget">
                    <div class="zoomin"><i class="fa-solid fa-magnifying-glass-plus"></i></div>
                    <div class="zoomout"><i class="fa-solid fa-magnifying-glass-minus"></i></div>
                    <div class="readaloud"><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>
            <div class="q2"><div class="qnumber"><b>1.</b></div></div>
            <div class="q3"><h4>Hoe wordt economische groei gemeten?</h4></div>
            <div class="q4">
                <div class="points_widget">... / 5</div>
            </div>
            <div class="q5">
                <form>
                    <textarea class="qinput" cols="50" placeholder="Beantwoord de vraag in volzinnen."></textarea>
                </form>
            </div>
        </div>
        <div class="qcard">
            <div class="q1">
                <div class="accessibility_widget">
                    <div class="zoomin"><i class="fa-solid fa-magnifying-glass-plus"></i></div>
                    <div class="zoomout"><i class="fa-solid fa-magnifying-glass-minus"></i></div>
                    <div class="readaloud"><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>
            <div class="q2"><div class="qnumber"><b>2.</b></div></div>
            <div class="q3"><h4>Wat zijn de gevaren van nulgroei?</h4></div>
            <div class="q4">
                <div class="points_widget">... / 5</div>
            </div>
            <div class="q5">
                <form>
                    <textarea class="qinput" cols="50" placeholder="Beantwoord de vraag in volzinnen."></textarea>
                </form>
            </div>
        </div>



    </div>
    <div class="my_profile"></div>

   
</body>
</html>