{% extends "layouts/base.html" %}
{% block title %}Rechten en rollen{% endblock %}
{% block content %}
    <div class="registration-container">
        <div class="registration-img1"><img style="object-fit: contain; height: 100%;" src="{{ url_for('static', filename='img/vector_art3.svg') }}" alt="Leerling vult een toets in"></div>
        <div class="registration-img2"><img style="object-fit: contain; height: 100%;" src="{{ url_for('static', filename='img/vector_art4.svg') }}" alt="Leerkracht met een toetsidee"></div>
        <div class="registration-rightpane">
            {{ mymacros.role_form(form=form)}}
        </div>
    </div>
{% endblock %}

