{% extends "layouts/base.html" %}
{% block title %}Registreren{% endblock %}
{% block content %}
    <div class="registration-container">
        <div class="registration-img"><img style="height:100%;" src="{{ url_for('static', filename='img/vector_art1.svg') }}" alt="Leerkracht bedenkt een toetsvraag"></div>
        <div class="registration-img"><img style="height:100%;" src="{{ url_for('static', filename='img/vector_art2.svg') }}" alt="Leerkracht in gesprek"></div>
        <div class="registration-img"><img style="height:100%;" src="{{ url_for('static', filename='img/vector_art3.svg') }}" alt="Leerling legt toets af"></div>
        <div class="registration-rightpane">
            {{ mymacros.registration_form(form=form) }}
        </div>
    </div>
{% endblock %}
