<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOETS</title>
    <link rel="stylesheet" href="toets.css">
    <script src="https://kit.fontawesome.com/399174739e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bgwhitecard">
        <div class="navbar">
            <div class="navbar-start">
                <div class="navicon"><i class="fa-solid fa-square-poll-horizontal"></i></div>
                <div class="navtext default">Algemene info</div>
            </div>
            <div class="navbar-end">
                <div class="navicon"><i class="fa-solid fa-flag-checkered"></i></div>
            </div>
        </div>
        <div class="infocard">
            <div class="info1">
                <div class="accessibility_widget">
                    <div class="zoomin"><i class="fa-solid fa-magnifying-glass-plus"></i></div>
                    <div class="zoomout"><i class="fa-solid fa-magnifying-glass-minus"></i></div>
                    <div class="readaloud"><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>
            <div class="info2"><h1>Algemene info</h1></div>
            <div class="info3"><h4>totaal punten</h4></div>
            <div class="info4"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie et leo id semper. Nulla augue sem, maximus fermentum lorem vel, convallis ultricies neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse et pretium elit. Duis elementum dui nec nibh porttitor faucibus. Integer in metus eget mauris viverra blandit vel vel erat. Donec eu est vel urna facilisis placerat. In facilisis, magna sed efficitur efficitur, nulla turpis placerat est, et molestie mi arcu id metus.</p></div>
            <div class="info5">
                <div class="points_widget">... / 40</div>
            </div>
            <div class="info6">
                <button class="button btn_start">
                    <div class="btn_text">Start de toets&nbsp</div>
                    <i class="btn_text fa-solid fa-arrow-right" style="color: white;"></i>
                </button>
            </div>
        </div>
    
    </div>
    <div class="my_profile"></div>
   
</body>
</html>