{% import 'auth/macro.html' as myauthmacros %}
{% extends "layouts/base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
   <div class="split-container">
      <div class="split-img1"><img style="object-fit: contain; height: 100%;" src="{{ url_for('static', filename='img/vector_art1.svg') }}" alt="Leerkracht bedenkt een toetsvraag"></div>
      <div class="split-img2"><img style="object-fit: contain; height: 100%;" src="{{ url_for('static', filename='img/vector_art6.svg') }}" alt="Leerkracht bouwt een vraag"></div>
      <div class="split-rightpane">
         {{ myauthmacros.login_form(form=form) }}
      </div>
   </div>
{% endblock %}