{% extends "layouts/base.html" %}
{% block title %}Cookiebeleid{% endblock %}
{% block content %}
    <h1 class="underline">Cookiebeleid</h1>

    <p>Cookies zijn kleine tekstbestandjes die bij het bezoeken van websites op je computer kunnen worden bewaard.</p>

    <p>In een tekstbestand wordt informatie opgeslagen, zoals bijvoorbeeld je taalvoorkeur voor een website. Wanneer je de website later opnieuw bezoekt, wordt deze cookie opnieuw verstuurd naar de website. Op die manier herkent de website jouw browser en kan bijvoorbeeld je taalvoorkeur worden onthouden.</p>

    </p>Cookies hebben meestal ook een vervaldatum. Sommige cookies worden bijvoorbeeld automatisch verwijderd wanneer je je browser afsluit (de zogenaamde sessiecookies), terwijl andere langere tijd op je computer blijven staan, soms zelfs tot je ze handmatig verwijdert (de zogenaamde permanente cookies).</p>
        
    </p>Ook andere traceringsmechanismen kunnen echter vallen onder de “cookieregelgeving” (zie de ruime definitie in artikel 10/2 van de wet van 30 juli 2018 betreffende de bescherming van natuurlijke personen met betrekking tot de verwerking van persoonsgegevens (“Kaderwet”)).
        Denk daarbij onder andere aan tracking in applicaties op de smartphone, maar ook andere technieken zoals het gebruik van een pixel, device fingerprinting, local storage, etc. Toets en Feedback Vlaanderen VZW hanteert een privacy-first aanpak. Alle data wordt geëncrypteerd en alle analysetools werden in-house ontwikkeld.</p>
{% endblock %}