{% macro cookie_banner() %}
    <!-- Inline javascript to handle the focus button on load -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const button1 = document.getElementById('button1');
            const button2 = document.getElementById('button2');
            
            // Programmatically focus button1
            button1.focus();

            // Button2 mouseover listener
            button2.addEventListener('mouseover', function() {
                button1.blur();
            });
        });
    </script>
    <!-- Display a notification for accepting necessary cookies (always required) and analytical cookies (optional) -->
    <div class="bgcookiebanner">
        <div class="cookiebanner">
            <div class="cookiebanner-title">
                <h1 class="underline">Cookies & AVG</h1>
            </div>
            <div>
                <p>Toets en Feedback Vlaanderen VZW maakt op deze website gebruik van cookies. De strikt noodzakelijke cookies zijn nodig voor het goed functioneren van de website en kunnen niet worden geweigerd. 
                Graag maken we ook gebruik van zogenaamde analytische cookies. Geef je jouw toestemming, dan worden bepaalde gegevens (zoals jouw browser, IP-adres, etc.) gebruikt om geaggregeerde statistieken te genereren. 
                Je kan jouw toestemming steeds opnieuw intrekken via de link “cookiebeleid” onderaan de webpagina. Lees er meer over in ons Cookiebeleid.
                </p>
            </div>
            <div class="cookiebanner-buttoncontainer">
                    <button class="cookiebanner-button" id="button1" onclick="window.location.href='{{ url_for('cookies.accept_all_cookies') }}'">Alle cookies aanvaarden.</button>
                    <button class="cookiebanner-button" id="button2" onclick="window.location.href='{{ url_for('cookies.accept_necessary_cookies') }}'">Enkel noodzakelijke cookies aanvaarden.</button>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro registration_form(form) %}
    <!-- load the zxcvbn pasw strength library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    
    <!-- inline javascript to expand the password best practices on focus -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const paswField = document.getElementById('myPasw');
            const hiddenDiv = document.getElementById('hiddenDiv');
            const strengthMeter = document.getElementById('paswStrengthMeter');
            const emailField = document.getElementById('myEmail');
            const errorDiv = document.getElementById('errorDiv');

            // Show the hiddenDiv when paswField is focused
            paswField.addEventListener('focus', function() {
                hiddenDiv.style.display = 'block'; 
            });

            // Hide the errorDiv when emailField is focused and the Div exists
            if (errorDiv) {
                emailField.addEventListener('focus', function() {
                    errorDiv.style.display = 'none';
                });
            }   

            // Calculate the pasw strength
            paswField.addEventListener('input', function() {
                const result = zxcvbn(paswField.value); // Use inputField.value here
                const strength = result.score; // score is from 0 to 4

                // Update the strength meter based on score
                strengthMeter.value = strength; // Assuming strengthMeter is a <progress> element
                strengthMeter.max = 4; // maximum score

                // Remove the disabled attribute from the form submit button
                if (strength === 4 && (emailField.value.trim() !== '')) {
                    document.getElementById("mySubmit").removeAttribute("disabled");
                }
            });
        });
    </script>
    <!-- render the form -->
    <h1 class="underline">Registratie</h1>
    <p style="margin-top:1em;">Maak een gratis account aan.</p> 
    <div class="line" style="width: 90%;"></div>
    <form method="POST" class="registration-form">
        {{ form.hidden_tag() }}
        <p style="font-weight: bold;">E-mailadres</p>
        {{ form.username() }}
        {% if form.username.errors %}
            <div id="errorDiv">
                {% for error in form.username.errors %}
                <p style="color:red; font-size:0.8em;" >{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <p style="margin-top: 1em; font-weight: bold;">Wachtwoord</p>
        {{ form.userpasw() }}
        <div style="height: 0.3em; width: 100%;"></div>
        <div id="hiddenDiv" style="display: none;">
            <progress id="paswStrengthMeter" value="0" max="4" style="width: 75%;"></progress>
            <ul>Maak je wachtwoord sterker tot de balk gevuld is. Enkele tips:
                <li class="registration-form">Gebruik een zin, spaties mogen.</li>
                <li class="registration-form">Maak je wachtwoord iets langer.</li>
                <li class="registration-form">Verwerk cijfers, leestekens of hoofdletters.</li>
                <li class="registration-form">Vermijd je naam, e-mail, de sitenaam, herhalingen of cijferreeksen als 1234.</li>
            </ul>
        </div>
        <div style="height: 1.7em; width: 100%;"></div>
        {{ form.usersubmit(disabled="disabled") }}
        <p style="font-weight: lighter;">*Door op deze knop te klikken, ga ik akkoord met de algemene voorwaarden van deze applicatie.</p>
    </form>
{% endmacro %}